*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root{
  --bg-color :#fff;
  --text-color:#221314;
  --secound-color:#5a7184;
  --main-color:#6e54fa;
  --big-font:6rem;
  --h2-font:3rem;
  --p-font:1.1rem;
}
body{
  background-color: var(--bg-color);
  color : var(--text-color);
}
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: ease .40s;
}
.logo{
  font-size: 35px;
  font-weigth:600;
  letter-spacing: 1px;
  color: var(--text-color);
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease .40s;
}
